bootrom/*
docs/warnings.txt
/Makefrag.pkgs
target
*.jar
*.stamp
*.vcd
*.swp
*.swo
*.log
*#
*~
.idea
.DS_Store
env.sh
tags
*~
.bsp/
.conda-env/
.conda-lock-env/
.#*
first-clone-setup-fast-log
.bloop/
.metals/
project/.bloop/
project/metals.sbt
project/project/
.ivy2
.sbt
.classpath_cache/
.vscode/
tests/build/
fpga/apps/mmio_isb_pipelined_apps/
fpga/generated-src_copy/
chipyard-genesys2-boot/
fpga/apps/interrupt_aware_mmio_apps/1_producer_app_for_interrupt_confirmation
fpga/apps/interrupt_aware_mmio_apps/2_consumer_app_for_interrupt_confirmation
fpga/apps/interrupt_aware_mmio_apps/3_pipelined_squares_2cores
fpga/apps/interrupt_aware_mmio_apps/4_pipelined_squares_3cores
fpga/apps/interrupt_aware_mmio_apps/5_JPEG_Decoder_3cores_interrupt_aware
fpga/apps/interrupt_aware_mmio_apps/6_MP3_Decoder_4cores_interrupt_aware
fpga/apps/interrupt_aware_mmio_apps/7_MP3_Decoder_4cores_with_data_parallelization_interrupt_aware
fpga/apps/interrupt_aware_mmio_apps/8_MP3_Encoder_3cores_interrupt_aware
fpga/apps/interrupt_aware_mmio_apps/9_MP3_Encoder_4cores_with_data_parallelization_interrupt_aware
